In [1]:
import sys 
sys.path.append('..')
import sqlite_basic_orm
db = sqlite_basic_orm.SQLiteDB('./db_files/chinook.db')
db_e = sqlite_basic_orm.SQLiteDB('./db_files/empty.db')
db_o = sqlite_basic_orm.SQLiteDB('./db_files/onetable.db')
db_t = sqlite_basic_orm.SQLiteDB('./db_files/testtable.db')

In [2]:
# execute test 0 - forced errors
print(db.execute('SELECT names FROM artists;'), '\n') 
print(db.execute('CREATE TABLE new1 (col1 TEXT NOT NUL);'), '\n')
print(db.execute('CREATE TABLE new2 (col1 INTEGER NOT NULL) WITHOUT ROWID; '), '\n')

ERROR: sqlite_basic_orm.execute. no such column: names

Statement:
----------
SELECT names FROM artists;
None

ERROR: sqlite_basic_orm.execute. table new1 already exists

Statement:
----------
CREATE TABLE new1 (col1 TEXT NOT NUL);
None

ERROR: sqlite_basic_orm.execute. PRIMARY KEY missing on table new2

Statement:
----------
CREATE TABLE new2 (col1 INTEGER NOT NULL) WITHOUT ROWID;
None

In [3]:
# execute test 1 - tables creation
print('-table creation')
st1 = '''CREATE TABLE exec_1col (col1 INTEGER NOT NULL
    );'''
st3 = '''CREATE TABLE exec_3cols (col1 INTEGER PRIMARY KEY AUTOINCREMENT,
    col2 TEXT NOT NULL,
    col3 TEXT INTEGER DEFAULT 0
    );'''
db_t.execute(st1, print_report=False)
db_t.execute(st3, print_report=True)
print(db_t.tables(), '\n')
print(db_t.schema('exec_3cols'), '\n')

-table creation
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
CREATE TABLE exec_3cols (col1 INTEGER PRIMARY KEY AUTOINCREMENT,
    col2 TEXT NOT NULL,
    col3 TEXT INTEGER DEFAULT 0
    );
['exec_1col', 'exec_3cols', 'sqlite_sequence']

CREATE TABLE exec_3cols (col1 INTEGER PRIMARY KEY AUTOINCREMENT,
    col2 TEXT NOT NULL,
    col3 TEXT INTEGER DEFAULT 0
    )

In [4]:
# execute test 2 - insert into 1 col
print(db_t.execute('SELECT * FROM exec_1col'), '\n') #empty
db_t.execute('''INSERT INTO exec_1col (col1) VALUES (1);''')
db_t.execute('INSERT INTO exec_1col (col1) VALUES (?);', 2)
db_t.execute('INSERT INTO exec_1col (col1) VALUES (?);',[3])
db_t.execute('INSERT INTO exec_1col (col1) VALUES (?);',[4,5,6])
db_t.execute('INSERT INTO exec_1col (col1) VALUES (?);',[(7,),(8,),(9,)])
db_t.execute('INSERT INTO exec_1col (col1) VALUES (?);',((10,),[11],[12],))
print(db_t.execute('SELECT * FROM exec_1col'), '\n')

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_1col
None

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (1);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_1col (col1) VALUES (?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_1col
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [5]:
# execute test 3 - insert into 3 cols
db_t.execute('INSERT INTO exec_3cols (col2, col3) VALUES (?,?);', [-1,-2,-3]) # ERROR
db_t.execute('''INSERT INTO exec_3cols (col1, col2, col3) VALUES (1, 'i', 1);''')
db_t.execute('''INSERT INTO exec_3cols (col2, col3) VALUES ('a', 1);''')
db_t.execute('INSERT INTO exec_3cols (col2, col3) VALUES (?,?);', ['b',2])
db_t.execute('INSERT INTO exec_3cols (col2, col3) VALUES (?,?);',('c',3,))
db_t.execute('INSERT INTO exec_3cols (col2, col3) VALUES (?,?);',[['d',4],['e',5]])
db_t.execute('INSERT INTO exec_3cols (col2, col3) VALUES (?,?);',[('f',6,),('g',7,),('h',8,)])
print(db_t.execute('SELECT * FROM exec_3cols'), '\n')

ERROR: sqlite_basic_orm.execute. Incorrect number of bindings supplied. The current statement uses 2, and there are 3 supplied.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES (?,?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col1, col2, col3) VALUES (1, 'i', 1);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES ('a', 1);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES (?,?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES (?,?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES (?,?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
INSERT INTO exec_3cols (col2, col3) VALUES (?,?);
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_3cols
[[1, 'i', 1], [2, 'a', 1], [3, 'b', 2], [4, 'c', 3], [5, 'd', 4], [6, 'e', 5], [7, 'f', 6], [8, 'g', 7], [9, 'h', 8]]

In [6]:
# insert test 1 - insert into 1 col
print(db_t.execute('SELECT * FROM exec_1col'), '\n')
db_t.insert('exec_1col','col1',13, print_report=True)
db_t.insert('exec_1col','col1',14, print_report=False)
db_t.insert('exec_1col','col1',[15])
db_t.insert('exec_1col','col1',[16,17])
db_t.insert('exec_1col','col1',[[18],(19,)])
print(db_t.execute('SELECT * FROM exec_1col'), '\n')

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_1col
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

SUCCESS: sqlite_basic_orm.insert. Added rows: 1/1

Statement:
----------
INSERT INTO exec_1col (col1)
VALUES(?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 1/1

Statement:
----------
INSERT INTO exec_1col (col1)
VALUES(?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 2/2

Statement:
----------
INSERT INTO exec_1col (col1)
VALUES(?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 2/2

Statement:
----------
INSERT INTO exec_1col (col1)
VALUES(?)
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_1col
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
# insert test 2 - insert into 3 cols
print(db_t.execute('SELECT * FROM exec_3cols;'), '\n')
db_t.insert('exec_3cols',['col3'],0) # ERROR
db_t.insert('exec_3cols',['col2','col3'],[1]) # ERROR
db_t.insert('exec_3cols',['col2','col3'],['i',9])
db_t.insert('exec_3cols',['col2','col3'],[['j',10],['k',11]])
db_t.insert('exec_3cols',['col2','col3'],[('l',12,),('m',13,),('n',14,)])
print(db_t.execute('SELECT * FROM exec_3cols;'), '\n')

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_3cols;
[[1, 'i', 1], [2, 'a', 1], [3, 'b', 2], [4, 'c', 3], [5, 'd', 4], [6, 'e', 5], [7, 'f', 6], [8, 'g', 7], [9, 'h', 8]]

ERROR: sqlite_basic_orm.insert. NOT NULL constraint failed: exec_3cols.col2

Statement:
----------
INSERT INTO exec_3cols (col3)
VALUES(?)
ERROR: sqlite_basic_orm.insert. Incorrect number of bindings supplied. The current statement uses 2, and there are 1 supplied.

Statement:
----------
INSERT INTO exec_3cols (col2, col3)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 1/2

Statement:
----------
INSERT INTO exec_3cols (col2, col3)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 2/1

Statement:
----------
INSERT INTO exec_3cols (col2, col3)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.insert. Added rows: 3/1

Statement:
----------
INSERT INTO exec_3cols (col2, col3)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM exec_3cols;
[[1, 'i', 1], [2, 'a', 1], [3, 'b', 2], [4, 'c', 3], [5, 'd', 4], [6, 'e', 5], [7, 'f', 6], [8, 'g', 7], [9, 'h', 8], [10, 'i', 9], [11, 'j', 10], [12, 'k', 11], [13, 'l', 12], [14, 'm', 13], [15, 'n', 14]]

In [8]:
# insert test 3 - replace
db_t.create_table('repl',['col1 TEXT', 'col2 UNTEGER'], unique='col1')
db_t.insert('repl',['col1','col2'],['a',1])
print(db_t.execute('SELECT * FROM repl;'), '\n')
db_t.insert('repl',['col1','col2'],['a',2]) # ERROR
print(db_t.execute('SELECT * FROM repl;'), '\n')
db_t.insert('repl',['col1','col2'],['a',2],replace=True)
print(db_t.execute('SELECT * FROM repl;'), '\n')

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE repl (col1 TEXT,
	col2 UNTEGER,
	UNIQUE (col1)
);
SUCCESS: sqlite_basic_orm.insert. Added rows: 1/2

Statement:
----------
INSERT INTO repl (col1, col2)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM repl;
('a', 1)

ERROR: sqlite_basic_orm.insert. UNIQUE constraint failed: repl.col1

Statement:
----------
INSERT INTO repl (col1, col2)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM repl;
('a', 1)

SUCCESS: sqlite_basic_orm.insert. Added rows: 0/2

Statement:
----------
INSERT OR REPLACE INTO repl (col1, col2)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT * FROM repl;
('a', 2)

In [9]:
# execute test 4 - misc 
db_st1 = '''SELECT trackid, name
            FROM tracks 
            WHERE name LIKE '%Wild';'''
db_st2 = '''SELECT Title, Name
            FROM albums
            INNER JOIN artists 
            ON artists.ArtistId = albums.ArtistId
            LIMIT 5;'''
db_st3 = '''SELECT name, milliseconds, bytes, albumid
            FROM tracks
            WHERE albumid = 1
            ORDER BY name DESC
            LIMIT 5;'''

print(db.execute(db_st1), '\n')
print(db.execute(db_st2), '\n')
print(db.execute(db_st3), '\n')

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT trackid, name
            FROM tracks
            WHERE name LIKE '%Wild';
[[4, 'Restless and Wild'], [32, 'Deuces Are Wild'], [775, 'Call Of The Wild'], [2697, 'I Go Wild']]

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT Title, Name
            FROM albums
            INNER JOIN artists
            ON artists.ArtistId = albums.ArtistId
            LIMIT 5;
[['For Those About To Rock We Salute You', 'AC/DC'], ['Balls to the Wall', 'Accept'], ['Restless and Wild', 'Accept'], ['Let There Be Rock', 'AC/DC'], ['Big Ones', 'Aerosmith']]

SUCCESS: sqlite_basic_orm.execute.

Statement:
----------
SELECT name, milliseconds, bytes, albumid
            FROM tracks
            WHERE albumid = 1
            ORDER BY name DESC
            LIMIT 5;
[['Spellbound', 270863, 8817038, 1], ['Snowballed', 203102, 6599424, 1], ['Put The Finger On You', 205662, 6713451, 1], ['Night Of The Long Knives', 205688, 6706347, 1], ["Let's Get It Up", 233926, 7636561, 1]]

In [10]:
# tables test
print('--chinook')
print(db.tables(prettify_return=False), '\n')
print(db.tables(prettify_return=True), '\n')
print('--empty')
print(db_e.tables(prettify_return=False), '\n')
print(db_e.tables(prettify_return=True), '\n')
print('--onetable')
print(db_o.tables(prettify_return=False), '\n')
print(db_o.tables(prettify_return=True), '\n')

--chinook
[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',), ('new1',)]

['albums', 'sqlite_sequence', 'artists', 'customers', 'employees', 'genres', 'invoices', 'invoice_items', 'media_types', 'playlists', 'playlist_track', 'tracks', 'sqlite_stat1', 'new1']

--empty
[]

None

--onetable
[('the_only_table',)]

['the_only_table']

In [11]:
# table_info test
print('--chinook')
print(db.table_info([1,2,3], '\n'))
print(db.table_info('no table', '\n'))
print(db.table_info('artists', prettify_return=False), '\n')
print(db.table_info('artists', prettify_return=True), '\n')

--chinook
None
None
[(0, 'ArtistId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

[[0, 'ArtistId', 'INTEGER', 1, None, 1], [1, 'Name', 'NVARCHAR(120)', 0, None, 0]]

In [12]:
# schema test
print(db.schema([1,2,3], prettify_return=False), '\n')
print(db.schema('no table', prettify_return=False), '\n')
print(db.schema('albums', prettify_return=False), '\n')
print(db.schema('albums', prettify_return=True), '\n')

None

None

('CREATE TABLE "albums"\r\n(\r\n    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,\r\n    [Title] NVARCHAR(160)  NOT NULL,\r\n    [ArtistId] INTEGER  NOT NULL,\r\n    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId]) \r\n\t\tON DELETE NO ACTION ON UPDATE NO ACTION\r\n)',)

CREATE TABLE "albums"
(
    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
)

In [13]:
# create table test
print(db_t.tables(), '\n')
db_t.create_table('sha512',['id_sha INTEGER','sha TEXT NOT NULL','sha_fast TEXT NOT NULL', 'size INTEGER NOT NULL', 'status TEXT','comment TEXT'],
    primary_key='id_sha',unique=['sha','sha_fast','size'])
print(db_t.tables(), '\n')
print(db_t.schema('sha512'), '\n')
print(db_t.table_info('sha512'), '\n')

db_t.create_table('sha256',['id_sha INTEGER','sha TEXT NOT NULL', 'size INTEGER NOT NULL', 'status TEXT DEFAULT active','comment TEXT'],
    primary_key='id_sha',unique=['sha'], foreign_key=['id_sha', 'sha512', 'id_sha'])
print(db_t.tables(), '\n')
print(db_t.schema('sha256'), '\n')
print(db_t.table_info('sha256'), '\n')

db_t.create_table('sha256x2',['id_sha INTEGER','sha TEXT NOT NULL', 'size INTEGER DEFAULT 0'],
    primary_key=['id_sha','sha'], foreign_key=[['id_sha', 'sha512', 'id_sha'],['sha','sha256','sha', 'ON UPDATE CASCADE']])
print(db_t.tables(), '\n')
print(db_t.schema('sha256x2'), '\n')
print(db_t.table_info('sha256x2'), '\n')

['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl']

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE sha512 (id_sha INTEGER,
	sha TEXT NOT NULL,
	sha_fast TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT,
	comment TEXT,
	UNIQUE (sha, sha_fast, size),
	PRIMARY KEY (id_sha)
);
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha512']

CREATE TABLE sha512 (id_sha INTEGER,
	sha TEXT NOT NULL,
	sha_fast TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT,
	comment TEXT,
	UNIQUE (sha, sha_fast, size),
	PRIMARY KEY (id_sha)
)

[[0, 'id_sha', 'INTEGER', 0, None, 1], [1, 'sha', 'TEXT', 1, None, 0], [2, 'sha_fast', 'TEXT', 1, None, 0], [3, 'size', 'INTEGER', 1, None, 0], [4, 'status', 'TEXT', 0, None, 0], [5, 'comment', 'TEXT', 0, None, 0]]

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE sha256 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT DEFAULT active,
	comment TEXT,
	UNIQUE (sha),
	PRIMARY KEY (id_sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha)
);
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha512', 'sha256']

CREATE TABLE sha256 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT DEFAULT active,
	comment TEXT,
	UNIQUE (sha),
	PRIMARY KEY (id_sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha)
)

[[0, 'id_sha', 'INTEGER', 0, None, 1], [1, 'sha', 'TEXT', 1, None, 0], [2, 'size', 'INTEGER', 1, None, 0], [3, 'status', 'TEXT', 0, 'active', 0], [4, 'comment', 'TEXT', 0, None, 0]]

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE sha256x2 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER DEFAULT 0,
	PRIMARY KEY (id_sha, sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha),
	FOREIGN KEY (sha)
		REFERENCES sha256 (sha)
		ON UPDATE CASCADE
);
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha512', 'sha256', 'sha256x2']

CREATE TABLE sha256x2 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER DEFAULT 0,
	PRIMARY KEY (id_sha, sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha),
	FOREIGN KEY (sha)
		REFERENCES sha256 (sha)
		ON UPDATE CASCADE
)

[[0, 'id_sha', 'INTEGER', 0, None, 1], [1, 'sha', 'TEXT', 1, None, 2], [2, 'size', 'INTEGER', 0, '0', 0]]

In [14]:
# drop table test
db_t.drop_table('no_table') # ERROR
db_t.drop_table(13) # ERROR
print(db_t.tables(), '\n')
db_t.drop_table('sha512')
print(db_t.tables(), '\n')
db_t.drop_table('sha256x2',disable_foreign_keys=True)
print(db_t.tables(), '\n')
db_t.drop_table(['sha256','exec_1col','no_table']) # ERROR
print(db_t.tables(), '\n')

ERROR: sqlite_basic_orm.drop_table. no such table: no_table
ERROR: sqlite_basic_orm.drop_table. near "13": syntax error
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha512', 'sha256', 'sha256x2']

SUCCESS: sha512 was dropped.
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha256', 'sha256x2']

SUCCESS: sha256x2 was dropped.
['exec_1col', 'exec_3cols', 'sqlite_sequence', 'repl', 'sha256']

ERROR: sqlite_basic_orm.drop_table. no such table: no_table
['exec_3cols', 'sqlite_sequence', 'repl']

In [15]:
# rename table test
db_t.create_table('old1','col TEXT')
db_t.create_table('old2', 'col TEXT')

print(db_t.tables(), '\n')
db_t.rename_table('no_name', 'new_name')
print(db_t.tables(), '\n')
db_t.rename_table('exec_3cols', 'new_name')
print(db_t.tables(), '\n')

db_t.rename_table(['old1','old2'], ['new1','new2'])
print(db_t.tables(), '\n')

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE old1 (col TEXT
);
SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE old2 (col TEXT
);
['exec_3cols', 'sqlite_sequence', 'repl', 'old1', 'old2']

ERROR: sqlite_basic_orm.drop_table. no such table: no_name
['exec_3cols', 'sqlite_sequence', 'repl', 'old1', 'old2']

SUCCESS: Tables exec_3cols was renamed at new_name
['new_name', 'sqlite_sequence', 'repl', 'old1', 'old2']

SUCCESS: Tables ['old1', 'old2'] was renamed at ['new1', 'new2']
['new_name', 'sqlite_sequence', 'repl', 'new1', 'new2']

In [16]:
db_t.create_table('sha256',['id_sha INTEGER','sha TEXT NOT NULL', 'size INTEGER NOT NULL', 'status TEXT DEFAULT active','comment TEXT'],
    primary_key='id_sha',unique=['sha'], foreign_key=['id_sha', 'sha512', 'id_sha'])
print(db_t.tables(), '\n')
print(db_t.schema('sha256'), '\n')
print(db_t.table_info('sha256'), '\n')

db_t.create_table('sha256x2',['id_sha INTEGER','sha TEXT NOT NULL', 'size INTEGER DEFAULT 0'],
    primary_key=['id_sha','sha'], foreign_key=[['id_sha', 'sha512', 'id_sha'],['sha','sha256','sha', 'ON UPDATE CASCADE']])
print(db_t.tables(), '\n')
print(db_t.schema('sha256x2'), '\n')
print(db_t.table_info('sha256x2'), '\n')

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE sha256 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT DEFAULT active,
	comment TEXT,
	UNIQUE (sha),
	PRIMARY KEY (id_sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha)
);
['new_name', 'sqlite_sequence', 'repl', 'new1', 'new2', 'sha256']

CREATE TABLE sha256 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER NOT NULL,
	status TEXT DEFAULT active,
	comment TEXT,
	UNIQUE (sha),
	PRIMARY KEY (id_sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha)
)

[[0, 'id_sha', 'INTEGER', 0, None, 1], [1, 'sha', 'TEXT', 1, None, 0], [2, 'size', 'INTEGER', 1, None, 0], [3, 'status', 'TEXT', 0, 'active', 0], [4, 'comment', 'TEXT', 0, None, 0]]

SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE sha256x2 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER DEFAULT 0,
	PRIMARY KEY (id_sha, sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha),
	FOREIGN KEY (sha)
		REFERENCES sha256 (sha)
		ON UPDATE CASCADE
);
['new_name', 'sqlite_sequence', 'repl', 'new1', 'new2', 'sha256', 'sha256x2']

CREATE TABLE sha256x2 (id_sha INTEGER,
	sha TEXT NOT NULL,
	size INTEGER DEFAULT 0,
	PRIMARY KEY (id_sha, sha),
	FOREIGN KEY (id_sha)
		REFERENCES sha512 (id_sha),
	FOREIGN KEY (sha)
		REFERENCES sha256 (sha)
		ON UPDATE CASCADE
)

[[0, 'id_sha', 'INTEGER', 0, None, 1], [1, 'sha', 'TEXT', 1, None, 2], [2, 'size', 'INTEGER', 0, '0', 0]]

In [17]:
#  count rows test
print(db.count_rows('no_table'))
print(db.count_rows('albums'))
print(db_o.count_rows('the_only_table'))
print(db.count_rows('tracks',search_condition='albumid = 1'))

ERROR: sqlite_basic_orm.count_rows. no such table: no_table

Statement:
----------
SELECT COUNT(*)
FROM no_table;
None
347
0
10

In [18]:
# select test - misc
print('-report')
print(db.select('albums', '*', limit_offset=5, prettify_return=True, print_report=False))
print(db.select('albums', '*', limit_offset=5, prettify_return=True, print_report=True))
print('-prettify')
print(db.select('albums', '*', limit_offset=5, prettify_return=False, print_report=False))
print(db.select('albums', '*', limit_offset=5, prettify_return=True, print_report=False))
print('-misc')
print(db.select('artists', limit_offset=[3,5]))
print(db.select('artists', ['title','name'], distinct=True, join=['INNER','no_table', 'artists.ArtistID = albums.ArtistID'],order_by='name'))
print(db.select('artists', ['title','name'], distinct=True, join=['INNER','albums', 'artists.ArtistID = albums.ArtistID'],order_by='name', limit_offset=[10,10]))
print(db.select('tracks',['albumid', 'COUNT(trackid)'],group_by='albumid'))
print(db.select('tracks',['albumid', 'COUNT(trackid)'],where='albumid = 2'))
print(db.select('tracks',['albumid'],distinct=True))

-report
[[1, 'For Those About To Rock We Salute You', 1], [2, 'Balls to the Wall', 2], [3, 'Restless and Wild', 2], [4, 'Let There Be Rock', 1], [5, 'Big Ones', 3]]
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM albums
LIMIT 5;
[[1, 'For Those About To Rock We Salute You', 1], [2, 'Balls to the Wall', 2], [3, 'Restless and Wild', 2], [4, 'Let There Be Rock', 1], [5, 'Big Ones', 3]]
-prettify
[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2), (3, 'Restless and Wild', 2), (4, 'Let There Be Rock', 1), (5, 'Big Ones', 3)]
[[1, 'For Those About To Rock We Salute You', 1], [2, 'Balls to the Wall', 2], [3, 'Restless and Wild', 2], [4, 'Let There Be Rock', 1], [5, 'Big Ones', 3]]
-misc
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM artists
LIMIT 3 OFFSET 5;
[[6, 'Antônio Carlos Jobim'], [7, 'Apocalyptica'], [8, 'Audioslave']]
ERROR: sqlite_basic_orm.select. no such table: no_table

Statement:
----------
SELECT DISTINCT title,
	name
FROM artists
	 INNER JOIN no_table ON artists.ArtistID = albums.ArtistID
ORDER BY name;
None
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT DISTINCT title,
	name
FROM artists
	 INNER JOIN albums ON artists.ArtistID = albums.ArtistID
ORDER BY name
LIMIT 10 OFFSET 10;
[['Górecki: Symphony No. 3', 'Adrian Leaper & Doreen de Feis'], ['Big Ones', 'Aerosmith'], ['Quiet Songs', 'Aisha Duo'], ['Jagged Little Pill', 'Alanis Morissette'], ['Adorate Deum: Gregorian Chant from the Proper of the Mass', 'Alberto Turco & Nova Schola Gregoriana'], ['Facelift', 'Alice In Chains'], ['Back to Black', 'Amy Winehouse'], ['Frank', 'Amy Winehouse'], ['Vivaldi: The Four Seasons', 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'], ["Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory", 'Antal Doráti & London Symphony Orchestra']]
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT albumid,
	COUNT(trackid)
FROM tracks
GROUP BY albumid;
[[1, 10], [2, 1], [3, 3], [4, 8], [5, 15], [6, 13], [7, 12], [8, 14], [9, 8], [10, 14], [11, 12], [12, 12], [13, 8], [14, 13], [15, 5], [16, 7], [17, 10], [18, 17], [19, 11], [20, 11], [21, 18], [22, 3], [23, 34], [24, 23], [25, 13], [26, 17], [27, 14], [28, 10], [29, 14], [30, 14], [31, 9], [32, 14], [33, 17], [34, 17], [35, 11], [36, 17], [37, 20], [38, 12], [39, 21], [40, 12], [41, 14], [42, 14], [43, 7], [44, 6], [45, 14], [46, 13], [47, 14], [48, 13], [49, 10], [50, 4], [51, 22], [52, 15], [53, 14], [54, 20], [55, 20], [56, 15], [57, 15], [58, 9], [59, 7], [60, 7], [61, 11], [62, 7], [63, 12], [64, 9], [65, 9], [66, 10], [67, 16], [68, 9], [69, 13], [70, 13], [71, 14], [72, 18], [73, 30], [74, 12], [75, 14], [76, 15], [77, 11], [78, 14], [79, 10], [80, 10], [81, 11], [82, 13], [83, 24], [84, 16], [85, 14], [86, 15], [87, 3], [88, 12], [89, 13], [90, 12], [91, 16], [92, 14], [93, 13], [94, 11], [95, 12], [96, 11], [97, 10], [98, 11], [99, 12], [100, 9], [101, 10], [102, 18], [103, 10], [104, 10], [105, 10], [106, 9], [107, 8], [108, 10], [109, 9], [110, 8], [111, 8], [112, 8], [113, 11], [114, 8], [115, 20], [116, 10], [117, 11], [118, 11], [119, 13], [120, 17], [121, 10], [122, 14], [123, 12], [124, 14], [125, 16], [126, 15], [127, 10], [128, 8], [129, 8], [130, 7], [131, 8], [132, 9], [133, 9], [134, 10], [135, 9], [136, 7], [137, 5], [138, 4], [139, 15], [140, 16], [141, 57], [142, 14], [143, 14], [144, 10], [145, 18], [146, 18], [147, 10], [148, 12], [149, 16], [150, 10], [151, 14], [152, 8], [153, 13], [154, 8], [155, 11], [156, 9], [157, 14], [158, 13], [159, 13], [160, 15], [161, 12], [162, 17], [163, 17], [164, 12], [165, 15], [166, 14], [167, 21], [168, 12], [169, 16], [170, 1], [171, 2], [172, 1], [173, 2], [174, 14], [175, 12], [176, 14], [177, 10], [178, 16], [179, 13], [180, 15], [181, 11], [182, 12], [183, 9], [184, 16], [185, 17], [186, 11], [187, 11], [188, 11], [189, 14], [190, 16], [191, 10], [192, 14], [193, 17], [194, 16], [195, 15], [196, 14], [197, 8], [198, 6], [199, 12], [200, 11], [201, 16], [202, 18], [203, 17], [204, 9], [205, 10], [206, 12], [207, 11], [208, 7], [209, 10], [210, 9], [211, 18], [212, 12], [213, 18], [214, 11], [215, 14], [216, 12], [217, 14], [218, 15], [219, 15], [220, 11], [221, 20], [222, 15], [223, 15], [224, 22], [225, 16], [226, 1], [227, 19], [228, 23], [229, 26], [230, 25], [231, 24], [232, 12], [233, 11], [234, 15], [235, 11], [236, 12], [237, 17], [238, 14], [239, 10], [240, 10], [241, 14], [242, 12], [243, 17], [244, 11], [245, 12], [246, 13], [247, 15], [248, 19], [249, 6], [250, 22], [251, 25], [252, 1], [253, 24], [254, 1], [255, 23], [256, 12], [257, 12], [258, 19], [259, 17], [260, 1], [261, 17], [262, 2], [263, 2], [264, 2], [265, 2], [266, 1], [267, 1], [268, 1], [269, 10], [270, 14], [271, 14], [272, 1], [273, 1], [274, 1], [275, 1], [276, 1], [277, 1], [278, 1], [279, 1], [280, 2], [281, 1], [282, 1], [283, 1], [284, 1], [285, 1], [286, 1], [287, 1], [288, 1], [289, 1], [290, 1], [291, 1], [292, 1], [293, 1], [294, 1], [295, 1], [296, 1], [297, 1], [298, 1], [299, 1], [300, 1], [301, 1], [302, 1], [303, 1], [304, 1], [305, 1], [306, 1], [307, 1], [308, 1], [309, 1], [310, 1], [311, 1], [312, 1], [313, 1], [314, 2], [315, 1], [316, 1], [317, 1], [318, 1], [319, 1], [320, 1], [321, 12], [322, 11], [323, 1], [324, 1], [325, 1], [326, 1], [327, 1], [328, 1], [329, 1], [330, 1], [331, 1], [332, 1], [333, 1], [334, 1], [335, 1], [336, 1], [337, 1], [338, 1], [339, 1], [340, 1], [341, 1], [342, 1], [343, 1], [344, 1], [345, 1], [346, 1], [347, 1]]
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT albumid,
	COUNT(trackid)
FROM tracks
WHERE albumid = 2;
(2, 1)
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT DISTINCT albumid
FROM tracks;
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347]

In [19]:
# delete test - misc
db_t.delete('no_table','col1 = 3') # ERROR
db_t.create_table('del',['col1 TEXT', 'col2 INTEGER'])
db_t.delete('del','col2 = 0') # TODO Removed rows: 8 instead 0
db_t.insert('del', ['col1', 'col2'],[['a',1],['b',2],['c',1]]) # TODO - Added rows: 3/1 instead 1/1
db_t.delete('del','bad syntax') # ERROR
print(db_t.select('del'))
db_t.delete('del','col2 = 1') # TODO Removed rows: 1 instead 2
print(db_t.select('del'))

ERROR: sqlite_basic_orm.count_rows. no such table: no_table

Statement:
----------
SELECT COUNT(*)
FROM no_table
WHERE col1 = 3
ERROR: sqlite_basic_orm.delete. no such table: no_table

Statement:
----------
DELETE FROM no_table
WHERE col1 = 3;
SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE del (col1 TEXT,
	col2 INTEGER
);
SUCCESS: sqlite_basic_orm.remove. Removed rows: 0

Statement:
----------
DELETE FROM del
WHERE col2 = 0;
SUCCESS: sqlite_basic_orm.insert. Added rows: 3/1

Statement:
----------
INSERT INTO del (col1, col2)
VALUES(?,?)
ERROR: sqlite_basic_orm.count_rows. near "syntax": syntax error

Statement:
----------
SELECT COUNT(*)
FROM del
WHERE bad syntax
ERROR: sqlite_basic_orm.delete. near "syntax": syntax error

Statement:
----------
DELETE FROM del
WHERE bad syntax;
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM del;
[['a', 1], ['b', 2], ['c', 1]]
SUCCESS: sqlite_basic_orm.remove. Removed rows: -1

Statement:
----------
DELETE FROM del
WHERE col2 = 1;
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM del;
('b', 2)

In [20]:
# update test - misc
db_t.update('no_table','col2', 3, 'col1 = 3') # ERROR
db_t.create_table('upd',['col1 TEXT', 'col2 INTEGER'])
db_t.update('upd','col1', 'ABC', 'col2 3') # ERROR
db_t.insert('upd',['col1','col2'],[['a',1], ['b',1], ['c',2], ['d',3]])
print(db_t.select('upd'))
db_t.update('upd','col1', ['ABC'], 'col2 = 2')
db_t.update('upd','col1','CDE','col2 = 1')
db_t.update('upd',['col1','col2'],['FGH', 100], 'col2 = 3')
print(db_t.select('upd'))

ERROR: sqlite_basic_orm.count_rows. no such table: no_table

Statement:
----------
SELECT COUNT(*)
FROM no_table
WHERE col1 = 3
ERROR: sqlite_basic_orm.update. no such table: no_table

Statement:
----------
UPDATE no_table
SET col2 = ?
WHERE col1 = 3;
SUCCESS: sqlite_basic_orm.create_table.

Statement:
----------
CREATE TABLE upd (col1 TEXT,
	col2 INTEGER
);
ERROR: sqlite_basic_orm.count_rows. near "3": syntax error

Statement:
----------
SELECT COUNT(*)
FROM upd
WHERE col2 3
ERROR: sqlite_basic_orm.update. near "3": syntax error

Statement:
----------
UPDATE upd
SET col1 = ?
WHERE col2 3;
SUCCESS: sqlite_basic_orm.insert. Added rows: 4/1

Statement:
----------
INSERT INTO upd (col1, col2)
VALUES(?,?)
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM upd;
[['a', 1], ['b', 1], ['c', 2], ['d', 3]]
SUCCESS: sqlite_basic_orm.insert. Updated rows: 1

Statement:
----------
UPDATE upd
SET col1 = ?
WHERE col2 = 2;
SUCCESS: sqlite_basic_orm.insert. Updated rows: 2

Statement:
----------
UPDATE upd
SET col1 = ?
WHERE col2 = 1;
SUCCESS: sqlite_basic_orm.insert. Updated rows: 1

Statement:
----------
UPDATE upd
SET col1 = ?,
	col2 = ?
WHERE col2 = 3;
SUCCESS: sqlite_basic_orm.select.

Statement:
----------
SELECT *
FROM upd;
[['CDE', 1], ['CDE', 1], ['ABC', 2], ['FGH', 100]]